ice.plezy.app {
	reverse_proxy relay:8080
}

bugs.plezy.app {
	handle /api/* {
		reverse_proxy rustrak:8080 {
			header_up X-Real-IP {remote_host}
		}
	}
	handle {
		reverse_proxy rustrak-ui:3000
	}
}
